Root of Angular App
<!--<app-home></app-home>
<app-about></app-about>-->
<!--<app-employees></app-employees>-->

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Emp No</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of listOfEmployees" (click)="onselect(e)">
            <td> {{e.emp_no}}</td>
            <td>{{e.first_name}}</td>
            <td>{{e.last_name}}</td>
        </tr>
    </tbody>
</table>

<label ng-class="themeObj"> aaaaaa</label>
<app-empdetails [empDetailsProp]="employeeFromAppComponent">
</app-empdetails>
<create-employee (employeeCreated)="ProcessEventResult($event)">
    </create-employee>

